#buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
    color: dodgerblue;
    font-weight: bold;
    width: 50%;
    height: 80px;
}