body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

main {
    /* ==60% */
    width: 60vw;
    height: 100vh;
    display: flex;
    /* flex지만 밑으로 내려가게 설정 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
}

section, article {
    width: 80%;
    background-color: aliceblue;
    padding: 20px;
}

article {
    margin-top: 20px;
}

h1 {
    background-color: lavender;
    padding: 20px;
    text-align: center;
    padding: 10px 10px;
    text-decoration-line: underline;
    border-radius: 10%;
    margin-bottom: 5px;
}

ol, ul{
    background-color: aliceblue;
    color: dimgrey;
    border: 2px solid white;
    border-radius: 10px;
    
}
ul {
    list-style: none;
    display: flex;
    padding: 15px;
}

ul > li > a{
    margin: 10px;
    padding: 10px;
    background-color: paleturquoise
}

ol > li {
    padding: 20px;
    margin-left: 20px;
}

ol > li:hover {
    background-color: bisque;
}

a {
    /* 하이퍼링크 밑줄 삭제 */
    text-decoration:none;
    color: gray;
}

ul a:hover {
    background-color: white;
    color:paleturquoise;
}
